celery==5.4.*
redis==5.*
paramiko==3.4.*
psycopg2-binary==2.9.*
Django>=5.1.14
django-celery-beat==2.7.*
django-celery-results==2.5.*
python-decouple==3.8
django-encrypted-model-fields==0.6.*
cryptography>=46.0.5
bcrypt==4.*
requests==2.*
django-htmx==1.19.*
pyotp==2.*
qrcode[pil]==8.*
pytest==8.*
pytest-mock==3.*
pytest-cov==5.*
